.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F7EDDB;
}

.Textfield {
  /* flex-grow: 0.8; */
  width: 70%;
  /* width: 40vw; */
  margin-top: 500px;
}

.Font-name {
  font-family: 'Righteous', cursive;
  /* width: 50vw; */
  /* font-size: 50vw; */
  font-size: 50pt;
}

.Inputs {
  width: 50vw;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.Add-button {
  /* flex-grow: 0.1; */
  width: 15%;
  /* background-color: #DFE8CC; */
  height: 100%;
  font-weight: bolder;
}

.Extract-button {
  /* flex-grow: 0.1; */
  width: 15%;
  height: 100%;
  font-weight: bold;
}

.Scroll-container {
  background-color: aqua;
  height: min-content;
  margin-top: 50pt;
}